a,button {
    cursor: pointer
}

.out-container,.pattern {
    -webkit-transition: all .5s
}

.main,.out-container {
    display: block;
}

*,.wechat-tips {
    box-sizing: border-box
}

[class*=" icon-"],[class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-Downloading:before {
    content: "\e900"
}

.icon-refresh:before {
    content: "\e901"
}

.icon-android_store:before {
    content: "\e600"
}

.icon-android:before {
    content: "\e601"
}

.icon-icon_path:before {
    content: "\e602"
}

.icon-ios_store:before {
    content: "\e603"
}

.icon-ios:before {
    content: "\e604"
}

.icon-qrcode:before {
    content: "\e605"
}

.icon-brace-left:before {
    content: "\e613"
}

.icon-brace-right:before {
    content: "\e617"
}

.icon-comma-eye:before {
    content: "\e618"
}

.icon-mouth:before {
    content: "\e619"
}

.icon-close:before {
    content: "\e63b"
}

.icon-download:before {
    content: "\e902"
}

body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #a9b1b3;
    background-color: #fff;
    -webkit-font-smoothing: antialiased
}

.no-scroll {
    overflow: hidden
}

.text-center {
    text-align: center
}

.text-black {
    color: #505556
}

p {
    margin-top: 0
}

a {
    text-decoration: none
}

button {
    padding: 0;
    border: 1px solid #a9b1b3;
    background-color: transparent
}

button:focus {
    outline: 0
}

.pattern {
    position: absolute;
    top: 0;
    z-index: 1;
    max-width: 312px;
    width: 21.66%;
    transition: all .5s
}

.pattern.left {
    left: 0
}

.pattern.right {
    right: 0
}

.pattern img {
    width: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
    pointer-events: none
}

@media(max-width: 1280px) {
    .pattern {
        width:18%
    }
}

.combo .pattern {
    max-width: 220px
}

@media(min-width: 1280px) {
    .combo .pattern {
        max-width:312px;
        width: 21%
    }
}

.out-container {
    position: relative;
    z-index: 2;
    transition: all .5s
}

.main {
    margin: 0 auto;
    max-width: 94%;
    width: 700px
}

.main .table-container {
    display: table;
    width: 100%;
    height: 100%
}

.main .cell-container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center
}

.show-wechat-notice .out-container,.show-wechat-notice .pattern {
    top: 180px
}

.show-wechat-notice .notice-wechat {
    height: 180px
}

.notice-wechat {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 0;
    background-color: #505556;
    box-shadow: 0 -9px 29px -7px rgba(0,0,0,.1) inset;
    -webkit-transition: all .5s;
    transition: all .5s
}

.constraint .main header,.expired .main header,.forbidden .main header,.legal_forbidden .main header,.not_found .main header {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: none;
    transform: none
}

.constraint .main header h1,.expired .main header h1,.forbidden .main header h1,.legal_forbidden .main header h1,.not_found .main header h1 {
    color: #505556;
    font-weight: 400;
    font-size: 28px
}

.constraint .main header h3,.expired .main header h3,.forbidden .main header h3,.legal_forbidden .main header h3,.not_found .main header h3 {
    font-size: 18px;
    cursor: default
}

.constraint .main header h3 label,.expired .main header h3 label,.forbidden .main header h3 label,.legal_forbidden .main header h3 label,.not_found .main header h3 label {
    cursor: default
}

.constraint .main header p,.expired .main header p,.forbidden .main header p,.legal_forbidden .main header p,.not_found .main header p {
    font-size: 16px;
    line-height: 24px
}

.constraint .main .fade-out,.expired .main .fade-out,.forbidden .main .fade-out,.legal_forbidden .main .fade-out,.not_found .main .fade-out {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px)
}

.constraint .pattern img,.expired .pattern img,.forbidden .pattern img,.legal_forbidden .pattern img,.not_found .pattern img {
    -webkit-filter: grayscale(1)
}

@media screen and (max-width: 480px) {
    .constraint .cell-container,.forbidden .cell-container,.legal_forbidden .cell-container,.not_found .cell-container {
        vertical-align:top
    }
}

.error-container {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    text-align: left
}

.error-container pre {
    line-height: 28px
}

.error-container h1 {
    margin-bottom: 10px
}

.error-container .sub-header {
    font-size: 14px
}

.error-container .sub-header>a {
    text-decoration: underline;
    color: #337ab7
}

@media screen and (max-width: 425px) {
    .error-container pre,.error-container small {
        display:none
    }

    .error-container {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center
    }

    .error-container h1 {
        padding: 0 70px
    }
}

.back-btn {
    position: fixed;
    top: 28px;
    left: 28px;
    z-index: 3;
    width: 60px;
    height: 60px;
    border: 1px solid #bdc6c7;
    border-radius: 60px;
    background-color: #fff
}

.back-btn i {
    display: block;
    margin-top: 29px;
    margin-left: 21px
}

.back-btn i:after,.back-btn i:before {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 1px;
    background-color: #505556;
    content: ' ';
    -webkit-transform-origin: left;
    transform-origin: left
}

.back-btn i:before {
    -webkit-transform: rotateZ(-42deg);
    transform: rotateZ(-42deg)
}

.back-btn i:after {
    -webkit-transform: rotateZ(42deg);
    transform: rotateZ(42deg)
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -17px;
    width: 100%;
    text-align: center
}

.loading-container h1 {
    font-weight: 400
}

.combo .main {
    min-width: 960px;
    max-width: 100%
}

.data_error .icon,.error .icon,.forbidden .icon,.passwd .icon {
    margin-bottom: 40px;
    width: 120px;
    height: 120px;
    border-radius: 22.7px
}

@media screen and (min-height: 520px) {
    .data_error form,.error form,.forbidden form,.passwd form {
        margin-bottom:100px
    }
}

.data_error .main,.error .main,.forbidden .main,.passwd .main {
    height: 100%
}

.data_error .main table,.error .main table,.forbidden .main table,.passwd .main table {
    width: 100%;
    height: 100%;
    vertical-align: middle
}

.data_error .app-brief h1,.error .app-brief h1,.forbidden .app-brief h1,.passwd .app-brief h1 {
    text-transform: uppercase
}

.data_error .reload,.error .reload,.forbidden .reload,.passwd .reload {
    color: #a9b1b3;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #a9b1b3;
    background-color: transparent;
    padding: 6px 12px;
    border-radius: 40px
}

.data_error .no-release-tips,.error .no-release-tips,.forbidden .no-release-tips,.passwd .no-release-tips {
    line-height: 20px;
    max-width: 80%;
    margin: 0 auto
}

.data_error .no-release-tips a,.error .no-release-tips a,.forbidden .no-release-tips a,.passwd .no-release-tips a {
    text-decoration: underline;
    color: #9b9b9b
}

#passwd-wrong {
    display: none
}

.passwd form {
    text-align: center
}

.passwd form h4 {
    font-weight: 400;
    font-size: 18px
}

.passwd form button,.passwd form input {
    padding: 12px 20px;
    width: 300px;
    border: 1px solid #f8ba0b;
    border-radius: 5px;
    font-size: 16px
}

.passwd form button:focus,.passwd form input:focus {
    outline: 0
}

.passwd form input {
    color: #f8ba0b;
    text-align: center
}

.passwd form button {
    border-color: #f8ba0b;
    background-color: #f8ba0b;
    color: #fff;
    cursor: pointer
}

.main .icon-container {
    position: relative;
    margin: 0 auto;
    width: 290px;
    height: 290px
}

.main .icon-container .bg-path {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    color: #eff2f2;
    font-size: 290px
}

.main .icon-container span {
    position: absolute;
    z-index: 2;
    display: block
}

.main .icon-container .icon {
    top: 0;
    left: 0;
    padding: 10px;
    width: 140px;
    height: 140px;
    border-radius: 17.54%;
    background-color: #fff
}

.main .icon-container .icon img {
    max-width: 100%;
    width: 120px;
    height: 120px;
    border-radius: 17.54%
}

.main .icon-container .qrcode {
    right: 0;
    bottom: 0;
    width: 140px;
    height: 140px;
    border: 20px solid transparent;
    border-radius: 26px
}

.main .icon-container .qrcode img {
    width: 100px;
    height: 100px
}

.main>header {
    display: block;
    min-height: 700px;
    max-height: 900px;
    height: 100%
}

.main>header.ad-app {
    height: auto
}

.main>header .wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 290px
}

.main>header .app-brief {
    -webkit-transition: all .5s;
    transition: all .5s
}

.main>header .name,.main>header body.passwd .name {
    position: relative;
    margin: 20px auto;
    width: 290px;
    color: #505556;
    text-align: left;
    font-weight: 400;
    font-size: 28px
}

.main>header .name i,.main>header body.passwd .name i {
    position: absolute;
    right: 100%;
    top: 10px;
    margin-right: 10px;
    font-size: 26px
}

.main>header .name span,.main>header body.passwd .name span {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 1.6
}

.main>header .release-type {
    margin: 24px auto 0;
    width: 290px;
    text-align: left
}

.main>header .scan-tips {
    margin: 0 auto;
    width: 290px;
    text-align: left;
    white-space: nowrap;
    line-height: 22px
}

.main>header .release-info {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px
}

.main>header .release-info p {
    margin-bottom: 4px
}

.main>header .release-info:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    margin-left: -30%;
    width: 60%;
    border-top: 1px solid #dae2e3;
    content: ' '
}

.main>header .actions {
    margin: 30px auto 0;
    max-width: 290px
}

.main>header .actions p {
    line-height: 1.5;
    padding: 12px;
    color: #3AB2A7;
    font-weight: 500;
    font-size: 16px
}

.main>header .actions button {
    display: inline-block;
    padding: 12px 46px;
    min-width: 200px;
    border: 1px solid #32b2a7;
    border-radius: 40px;
    font-size: 14px;
    background: #32b2a7;
    color: #fff
}

.main>header .actions a {
    color: #868c8e;
    font-size: 14px;
    display: block
}

.main>header .type-ios {
    display: none
}

@media only screen and (max-width: 768px) {
    .main>header {
        max-height:100%;
        height: 100%;
        min-height: 400px
    }

    .main>header.ad-app {
        min-height: 700px
    }

    .main>header .type-ios {
        display: block
    }
}

.master-section {
    overflow: hidden;
    padding: 40px 0
}

@media screen and (max-width: 768px) {
    .main>header {
        min-height:400px
    }

    .main>header .release-type {
        display: none
    }

    .main>header .release-info {
        display: block
    }

    .main>header .name {
        text-align: center;
        font-size: 24px
    }

    .main>header .name .icon-warp {
        position: static;
        display: inline-block;
        text-align: center;
    }

    .main>header .name .tip {
        margin-top: 5px
    }

    .main>header .name i {
        position: static
    }

    .main>header .scan-tips {
        display: none
    }

    .master-section {
        text-align: center
    }

    .master-section .store-link {
        display: inline-block;
        float: none;
        margin-bottom: 0
    }

    .master-section p {
        display: none
    }
}

.master-section p {
    margin: 0;
    line-height: 21px
}

.master-section pre {
    text-align: left;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 22px
}

.footer,.per-type-info .info,.releases-section .release-view .qrcode,.section-store-link,.store-section {
    text-align: center
}

.store-link-wrapper {
    display: inline-block;
    width: 200px;
    height: 60px
}

.store-link-wrapper a {
    display: block;
    border: 1px solid #505556;
    border-radius: 5px;
    text-decoration: none
}

.store-link-wrapper a i {
    display: block;
    padding: 14px 40px;
    color: #505556;
    font-size: 33px
}

.section {
    position: relative;
    z-index: 2;
    padding: 50px 0;
    border-top: 1px solid #dae2e3
}

@media screen and (max-width: 768px) {
    .section {
        padding:50px 20px
    }
}

.section h2 {
    margin: 0 0 40px;
    color: #505556;
    font-weight: 400
}

.store-section .store-link {
    display: block;
    margin: 0 auto;
    padding: 14px 40px 10px;
    width: 260px;
    border: 1px solid #505556;
    border-radius: 5px;
    background-color: transparent;
    color: #505556;
    font-size: 28px
}

.releases-section .release-view {
    position: relative;
    z-index: 2;
    padding-bottom: 80px
}

.releases-section .release-view:before {
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
    height: 100%;
    border-left: 1px solid;
    content: ' '
}

.releases-section .release-view:last-child {
    padding-bottom: 0
}

.releases-section .release-view:last-child:before {
    content: none
}

.releases-section .release-view .qrcode {
    position: relative;
    z-index: 2;
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #a9b1b3;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer
}

.releases-section .release-view .qrcode i {
    display: inline-block;
    color: #505556;
    font-size: 30px;
    line-height: 78px
}

.releases-section .release-view .qrcode .popup {
    position: absolute;
    top: 50%;
    left: 70px;
    margin-top: -65px;
    padding-left: 40px;
    width: 170px;
    opacity: 0;
    -webkit-transition: all .25s;
    transition: all .25s;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    pointer-events: none
}

.releases-section .release-view .qrcode .popup .inner {
    padding: 20px;
    border: 1px solid #505556;
    border-radius: 8px;
    background-color: #fff
}

.releases-section .release-view .qrcode .popup .inner img {
    width: 90px;
    height: 90px
}

.releases-section .release-view .qrcode .popup .inner:before {
    position: absolute;
    top: 50%;
    left: 30px;
    display: inline-block;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 1px solid #505556;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: 4px;
    background: #fff;
    content: ' ';
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.releases-section .release-view .qrcode:hover {
    border-color: #505556
}

.releases-section .release-view .qrcode:hover i {
    color: #505556
}

.releases-section .release-view .qrcode:hover .popup {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.releases-section .release-view .download-btn {
    position: relative;
    z-index: 2;
    display: none;
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #a9b1b3;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    cursor: pointer
}

.releases-section .release-view .download-btn i {
    position: relative;
    display: inline-block;
    margin-top: 27px;
    margin-left: 1px;
    width: 2px;
    height: 26px;
    background-color: #505556
}

.releases-section .release-view .download-btn i:after,.releases-section .release-view .download-btn i:before {
    position: absolute;
    bottom: -2px;
    display: inline-block;
    width: 2px;
    height: 16px;
    background-color: #505556;
    content: ' '
}

.releases-section .release-view .download-btn i:before {
    left: -5px;
    -webkit-transform: rotateZ(-42deg);
    transform: rotateZ(-42deg)
}

.releases-section .release-view .download-btn i:after {
    right: -5px;
    -webkit-transform: rotateZ(42deg);
    transform: rotateZ(42deg)
}

.releases-section .release-view .version-info {
    padding-left: 120px
}

.releases-section .release-view .version-info .version {
    margin-bottom: 10px;
    color: #535353;
    font-size: 18px;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.releases-section .release-view .version-info .extra-info {
    position: relative;
    margin-top: 12px;
    color: #bdc6c7;
    font-size: 13px
}

.releases-section .release-view .version-info .extra-info p {
    margin: 0;
    line-height: 20px
}

.releases-section .release-view .version-info .extra-info .changelog-toggle {
    margin-top: 20px;
    font-size: 18px;
    color: #535353;
    cursor: default;
    display: inline-block
}

@media screen and (max-width: 699px) {
    .releases-section .release-view .version-info .extra-info .changelog-toggle {
        position:static;
        display: inline-block;
        margin-top: 12px
    }

    .releases-section .release-view .version-info .changelog:after {
        left: 33px
    }
}

.releases-section .release-view .version-info .changelog {
    position: relative;
    padding: 18px 0;
    border-radius: 5px;
    color: #bdc6c7;
    font-size: 12px;
    font-size: 13px;
    line-height: 18px
}

.releases-section .release-view .version-info .changelog .wrapper {
    position: relative;
    z-index: 2;
    margin: 0;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all
}

.releases-section .release-view .version-info .changelog b {
    color: #535353;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: default
}

.releases-section .release-view .version-info .changelog:after {
    position: absolute;
    top: -6px;
    right: 33px;
    z-index: 1;
    display: inline-block;
    display: none;
    width: 22px;
    height: 22px;
    border-top-left-radius: 2px;
    background-color: #505556;
    content: ' ';
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.releases-section .release-view .version-info .changelog.show {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

@media screen and (max-width: 768px) {
    .releases-section .release-view .qrcode {
        display:none
    }

    .releases-section .release-view .download-btn {
        display: block
    }
}

:root .combo .releases-section .release-view {
    max-width: 407px
}

.releases-section .release-view:nth-child(n+5) {
    display: none
}

.releases-section .releases-toggle {
    display: inline-block;
    padding: 14px 22px;
    border: 1px solid #868c8e;
    border-radius: 40px;
    color: #868c8e;
    text-decoration: none;
    font-size: 12px
}

.releases-section .releases-toggle .off {
    display: block
}

.releases-section .releases-toggle .on {
    display: none
}

.releases-section.show-all .release-view:nth-child(n+5) {
    display: block
}

.releases-section.show-all .last {
    padding-bottom: 0
}

.releases-section.show-all .last:before,.releases-section.show-all .releases-toggle .off {
    display: none
}

.releases-section.show-all .releases-toggle .on {
    display: block
}

.per-type-info {
    position: relative;
    overflow: hidden;
    padding-top: 0;
    border-top: 1px solid #dae2e3
}

.per-type-info .type {
    float: left;
    width: 50%
}

.per-type-info .type:first-child .releases-section {
    padding: 70px 70px 0 0
}

.per-type-info .type .master-section {
    padding: 70px 0 0;
    border-top: 0
}

.per-type-info .type .master-section pre {
    white-space: pre-line
}

.per-type-info .type:last-child .master-section,.per-type-info .type:last-child .releases-section {
    padding: 70px 0 0 70px
}

.per-type-info .type-icon {
    margin-bottom: 0
}

.per-type-info .info {
    padding-top: 50px;
    font-size: 12px
}

.per-type-info .info .version {
    margin-bottom: 20px
}

.per-type-info .info .type-icon {
    margin-bottom: 40px
}

.per-type-info .info i {
    margin-bottom: 0;
    color: #505556;
    font-size: 48px
}

.per-type-info .info .store-link-wrapper a {
    width: 200px
}

.per-type-info .info .store-link-wrapper a i {
    font-size: 29px
}

.desc-section pre {
    white-space: pre-wrap;
    line-height: 22px
}

.section-store-link a {
    display: inline-block;
    border: 1px solid #505556;
    border-radius: 5px;
    text-decoration: none
}

.section-store-link a i {
    display: block;
    padding: 14px 40px;
    color: #505556;
    font-size: 33px
}

.screenshots-section {
    border-bottom: 0
}

.screenshots-section .list-wrapper {
    overflow-x: scroll;
    max-width: 100%
}

.screenshots-section ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap
}

.screenshots-section ul li {
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle
}

.screenshots-section ul li img {
    max-height: 462px
}

.type:first-child .master-section {
    padding-right: 5px
}

.type:last-child .master-section {
    padding-left: 5px
}

.combo-screenshots-container {
    border-top: 0
}

.combo-screenshots-container .type:first-child {
    padding-right: 50px
}

.combo-screenshots-container .type:last-child {
    padding: 50px 0 50px 50px
}

.combo-screenshots-container .type .list-wrapper {
    width: 100%
}

.footer {
    padding: 20px 20px 20px;
    border-top: 1px solid #dae2e3
}

.footer a {
    text-decoration: none;
    color: #f8cd0b
}

.hide {
    display: none
}

.wechat-tips img,.wechat-tips span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle
}

.wechat-tips {
    position: fixed;
    top: 10px;
    z-index: 103;
    padding-top: 14px;
    width: 100%;
    text-align: right
}

.wechat-tips span {
    color: #fff;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px
}

.wechat-tips span.en {
    width: 240px
}

.wechat-tips img {
    margin-bottom: 13px;
    width: 50px
}

@media(min-width: 420px) {
    .wechat-tips span {
        margin-right:15px
    }

    .wechat-tips span.en {
        margin-bottom: -20px;
        width: auto
    }

    .wechat-tips img {
        margin-right: 20px
    }
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.list-unstyled li:first-child {
    padding-bottom: 10px
}

.tip {
    margin-left: 15px;
    vertical-align: middle;
    font-size: 14px;
    cursor: pointer
}

.tip.en {
    margin-left: 5px
}

.tip img {
    margin-right: 5px;
    height: 16px;
    position: relative;
    top: 4px
}

.tip.RISK {
    color: #d95656
}

.tip.SCANED {
    color: #8fbf46
}

.tip.SCANED img {
    height: 14px;
    top: 2px
}

.tooltip {
    position: absolute;
    z-index: 10;
    display: none;
    width: 250px;
    color: #505556;
    font-size: 0
}

.tooltip .arraw {
    display: inline-block;
    margin-left: 40px;
    width: 20px;
    height: 20px;
    border-top: 1px solid;
    border-left: 1px solid;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.tooltip .content {
    margin-top: -10px;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #fff;
    font-size: 13px
}

.tooltip table {
    width: 100%
}

.tooltip table .text-result {
    width: 60px;
    text-align: left
}

.tooltip table .logo {
    width: 40px
}

.tooltip table .logo img {
    width: 20px
}

.tooltip.SCANED .arraw,.tooltip.SCANED .content {
    border-color: #8fbf46
}

.tooltip .text-result {
    color: #d85657
}

.tooltip .SCANED .text-result {
    color: #8fbf46
}

.tooltip.RISK .arraw,.tooltip.RISK .content,.tooltip.VIRUS .arraw,.tooltip.VIRUS .content {
    border-color: #d85657
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#actions {
    display: none
}

#actions button {
    -webkit-transition: all .25s;
    transition: all .25s
}

#actions button.loading {
    -webkit-animation: rotate .6s linear infinite;
    animation: rotate .6s linear infinite;
    background: 0
}

@media only screen and (min-device-width: 320px) and (max-device-width:480px) and (-webkit-min-device-pixel-ratio:2) {
    #actions {
        display:block
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width:568px) and (-webkit-min-device-pixel-ratio:2) {
    #actions {
        display:block
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
    #actions {
        display:block
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
    #actions {
        display:block
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width:1024px) and (-webkit-min-device-pixel-ratio:1) {
    #actions {
        display:block
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width:1024px) and (-webkit-min-device-pixel-ratio:2) {
    #actions {
        display:block
    }
}

#actions.type-android {
    display: block
}

body.hidden-overflow {
    overflow: hidden
}

.main header .app-brief .icon-container .qrcode {
    background-color: #eff2f2;
    -webkit-transition: all .25s;
    transition: all .25s
}

.main header .app-brief .name .icon-warp {
    vertical-align: bottom
}

.main header .app-brief .name>.tip {
    vertical-align: bottom;
    position: relative;
    top: -3px
}

.main .footer .one-key-report {
    color: #fff;
    background-color: #32b2a7;
    padding: 5px 10px;
    border-radius: 15px;
    float: right;
    margin-top: -5px
}

.main.forbidden .footer .one-key-report,.main.not_found .footer .one-key-report {
    display: none
}

.masklayer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 99998
}

.one-key-report-dialog {
    position: fixed;
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    margin-left: -225px;
    margin-top: -275px;
    z-index: 99999;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.5)
}

.one-key-report-dialog .dialog-close {
    position: absolute;
    right: 10px;
    top: 10px
}

.one-key-report-dialog .dialog-close i.icon-close {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer
}

.one-key-report-dialog .dialog-close i.icon-close:hover {
    color: #333
}

.one-key-report-dialog .dialog-close .icon-return {
    display: none;
    color: #32b2a7
}

.one-key-report-dialog .custom-checkbox {
    cursor: pointer;
    display: inline-block;
    padding: 2px 2px 2px 25px;
    position: relative;
    line-height: 24px;
    text-align: left;
    margin-right: 40px
}

.one-key-report-dialog .custom-checkbox:last-child {
    margin-right: 0
}

.one-key-report-dialog .custom-checkbox:after,.one-key-report-dialog .custom-checkbox:before {
    content: ' ';
    display: block;
    position: absolute
}

.one-key-report-dialog .custom-checkbox:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #32b2a7;
    left: 2px;
    top: 8px;
    display: none
}

.one-key-report-dialog .custom-checkbox:before {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    left: 0;
    top: 6px;
    border: 1px solid #32b2a7;
    background-color: #fff
}

.one-key-report-dialog .custom-checkbox.active:after {
    display: block
}

.one-key-report-dialog .content-row {
    display: table;
    padding: 10px 10px 5px;
    position: relative;
    width: 100%
}

.one-key-report-dialog .content-row input,.one-key-report-dialog .content-row label {
    float: left;
    display: inline-block
}

.one-key-report-dialog .content-row label {
    font-size: 18px;
    line-height: 34px;
    margin-right: 30px
}

.one-key-report-dialog .content-row input {
    width: 240px;
    height: 34px;
    border: 1px solid #a9b1b3;
    border-radius: 5px;
    padding: 5px 10px;
    outline: 0
}

.one-key-report-dialog .content-row .checkbox-list {
    clear: both;
    width: 100%;
    padding: 5px 0;
    text-align: left
}

.one-key-report-dialog .content-row textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #a9b1b3;
    resize: none;
    padding: 10px;
    outline: 0;
    color: #a9b1b3;
    font-size: 16px
}

.one-key-report-dialog .content-row .btn-report {
    color: #fff;
    background-color: #32b2a7;
    padding: 5px 10px;
    border-radius: 15px;
    float: right;
    margin-top: -5px
}

.one-key-report-dialog .report-feedback,.one-key-report-dialog .report-form {
    position: relative;
    width: 100%;
    height: 100%
}

.one-key-report-dialog .report-sending {
    background-color: rgba(255,255,255,.5);
    color: #000;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    text-align: center;
    line-height: 450px;
    cursor: default;
    display: none
}

.one-key-report-dialog .report-form {
    display: block
}

.one-key-report-dialog .report-feedback {
    display: none;
    cursor: default
}

.one-key-report-dialog .report-feedback .feedback-thanks {
    width: 160px;
    height: 160px;
    background-color: #ffd301;
    border-radius: 20px;
    margin: 50px auto 20px
}

.one-key-report-dialog .report-feedback .feedback-thanks .brace-content {
    margin: 0 auto;
    padding-top: 30px;
    color: #000;
    width: 110px;
    text-align: center
}

.one-key-report-dialog .report-feedback .feedback-thanks .thanks {
    min-height: 22px;
    letter-spacing: .8px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto Slab','Helvetica Neue',Helvetica,'Hiragino Sans GB',Arial,sans-serif;
    text-align: center;
    cursor: default;
    color: #000;
    margin: 15px 0 0
}

.one-key-report-dialog .report-feedback .feedback-thanks .face,.one-key-report-dialog .report-feedback .feedback-thanks .icon-brace-left,.one-key-report-dialog .report-feedback .feedback-thanks .icon-brace-right {
    display: inline-block;
    vertical-align: middle
}

.one-key-report-dialog .report-feedback .feedback-thanks .icon-brace-left,.one-key-report-dialog .report-feedback .feedback-thanks .icon-brace-right {
    font-size: 80px
}

.one-key-report-dialog .report-feedback .feedback-thanks .face .icon-comma-eye {
    margin: 0 4px;
    font-size: 22px
}

.one-key-report-dialog .report-feedback .feedback-thanks .face .icon-comma-eye.right {
    margin-left: 16px;
    display: inline-block;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.one-key-report-dialog .report-feedback .feedback-thanks .face .icon-mouth {
    display: block;
    margin-top: 15px;
    -webkit-transform: rotateZ(-19deg) translateX(2px);
    transform: rotateZ(-19deg) translateX(2px)
}

.one-key-report-dialog .report-feedback .feedback-message {
    color: #32b2a7;
    font-size: 30px;
    text-align: center
}

.one-key-report-dialog .report-feedback .feedback-content {
    font-size: 18px;
    margin-top: 40px;
    color: #858585
}

.one-key-report-dialog .report-error {
    line-height: 34px;
    color: red;
    padding: 0 10px;
    cursor: default
}

.one-key-report-dialog .report-error>div {
    display: none
}

.app_bottom_fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    font-size: 0;
    text-align: center;
    background: 0
}

.after-install-fixed,.after-install-games-fixed,.after-install-zhibo-fixed {
    z-index: 200;
    top: 0;
    right: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: fixed;
    bottom: 0
}

.app_bottom_fixed img {
    width: 100%;
    max-height: 80px
}

.after-install-fixed,.after-install-games-fixed {
    background-color: #f3f3f3;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.after-install-games-fixed .after-install-header {
    background: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 180px;
    flex: 1 0 180px
}

.after-install-games-fixed .after-install-header .waiting {
    color: #4a4a4a
}

.after-install-games-fixed .popularize-games {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #ededed
}

.after-install-games-fixed .popularize-games .popularize-header {
    line-height: 50px;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media only screen and (max-width: 991px) and (min-width:768px) {
    .after-install-games-fixed .popularize-games .popularize-list>li:nth-child(n+5) {
        display:none
    }

    .after-install-games-fixed .popularize-games .popularize-list .popularize-app-game {
        margin-bottom: 30px !important
    }
}

@media only screen and (max-width: 1024px) and (min-width:991px) {
    .after-install-games-fixed .popularize-games .popularize-list>li:nth-child(n+6) {
        display:none
    }

    .after-install-games-fixed .popularize-games .popularize-list .popularize-app-game {
        margin-bottom: 30px !important
    }
}

.after-install-games-fixed .popularize-games .popularize-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.after-install-games-fixed .popularize-games .popularize-list .popularize-app-game {
    max-width: 180px;
    width: 45%;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
    border-radius: 20px;
    background: #35a89b
}

.after-install-games-fixed .popularize-games .popularize-list .popularize-app-game .app-download {
    font-size: 16px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff
}

.after-install-games-fixed .popularize-games .popularize-list .popularize-app-game .popularize-app-game-content {
    height: 145px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px
}

.after-install-games-fixed .popularize-games .popularize-list .popularize-app-game .popularize-app-game-content .app-zhibo-icon-img {
    margin-top: 10px
}

.after-install-games-fixed .popularize-games .popularize-list .popularize-app-game .popularize-app-game-content .app-zhibo-icon-img>img {
    border-radius: 5px;
    height: 50px;
    width: 50px
}

.after-install-games-fixed .popularize-games .popularize-list .popularize-app-game .primary-text {
    max-width: 80%;
    color: #4a4a4a;
    text-align: center;
    font-size: 16px;
    font-weight: 700
}

.after-install-games-fixed .popularize-games .popularize-list .popularize-app-game .secondary-text {
    max-width: 80%;
    height: 32px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    color: rgba(93,103,109,.9);
    padding-bottom: 5px
}

.after-install-zhibo-fixed {
    background-color: #f3f3f3;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.after-install-zhibo-fixed .after-install-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 165px;
    flex: 1 0 165px;
    margin: 0 10px
}

.after-install-zhibo-fixed .after-install-header>.icon {
    margin-bottom: 0
}

.after-install-zhibo-fixed .after-install-header>.icon>img {
    width: 60px;
    height: 60px
}

.after-install-zhibo-fixed .appInfo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 10px;
    text-align: left
}

.after-install-zhibo-fixed .appInfo .primary-text {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 700
}

.after-install-zhibo-fixed .appInfo>h3 {
    margin: 0
}

.after-install-zhibo-fixed .info-text {
    display: block;
    font-size: 12px;
    text-align: left
}

.after-install-zhibo-fixed .after-install-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.after-install-header,.after-install-zhibo-fixed .Downloading,.popularize-app-zhibo,.popularize-content .popularize-content-download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.after-install-zhibo-fixed .Downloading {
    margin-left: 10px;
    width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px
}

.after-install-zhibo-fixed .Downloading>i {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px
}

.after-install-close {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 201;
    border: 0;
    background: 0;
    font-size: 16px
}

.after-install-close:focus,.after-install-close:hover {
    outline: 0;
    border: 0;
    background: 0
}

.after-install-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 240px;
    flex: 1 0 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4a4a4a
}

.popularize-app,.popularize-header {
    display: -webkit-box;
    display: -ms-flexbox;
    text-align: left
}

.after-install-header>.icon {
    margin-bottom: 20px;
    font-size: 0
}

.after-install-header>.icon img {
    max-width: 100%;
    width: 80px;
    height: 80px;
    border-radius: 17.54%
}

.after-install-header .waiting {
    font-size: 22px;
    color: #32b2a7;
    margin: 0;
    position: relative
}

.after-install-header .waiting-dot {
    position: absolute;
    left: 90px
}

.popularize {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #fff;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.08)
}

.popularize-header {
    padding: 0 10px;
    line-height: 60px;
    font-weight: 700;
    font-size: 16px;
    color: #4a4a4a;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.popularize-header .refresh {
    cursor: pointer
}

.popularize-header>h4 {
    margin: 0;
    padding-top: 16px;
    line-height: 16px
}

.popularize-header>p {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 6px;
    font-size: 14px !important;
    line-height: 14px;
    font-weight: 400
}

.popularize-list {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.popularize-list .popularize-actions {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    border-left: 1px solid #dedede
}

.popularize-app {
    margin: 0;
    border-top: 1px solid #dedede;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.popularize-app>.app-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 10px;
    font-size: 0
}

.popularize-app>.app-icon>img {
    width: 60px;
    height: 60px;
    border-radius: 5px
}

.popularize-app-zhibo {
    padding: 10px 15px 15px;
    border-top: 1px solid #dedede;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.popularize-app-zhibo .secondary-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 5px;
    font-size: 12px;
    color: rgba(93,103,109,.9)
}

.popularize-app-zhibo .popularize-app-zhibo-content {
    width: 100%
}

.popularize-app-zhibo .popularize-app-zhibo-content>a>img {
    width: 100%;
    height: 100%
}

.popularize-app-zhibo .app-zhibo {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.popularize-app-zhibo .app-zhibo .app-zhibo-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.popularize-app-zhibo .app-zhibo .app-zhibo-icon .app-zhibo-icon-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 0
}

.popularize-app-zhibo .app-zhibo .app-zhibo-icon .app-zhibo-icon-img>img {
    border-radius: 5px;
    width: 40px;
    height: 40px
}

.popularize-app-zhibo .app-zhibo .app-zhibo-icon .primary-text {
    margin-left: 5px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal
}

.popularize-app-zhibo .app-zhibo .app-download {
    border-radius: 5px;
    background: #35a89b;
    color: #fff;
    width: 90px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.popularize-app-zhibo .app-zhibo .app-download>a {
    color: #fff;
    font-size: 14px;
    font-weight: 500
}

.popularize-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 10px
}

.popularize-content>.primary-text {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 700
}

.popularize-content>.secondary-text {
    font-size: 12px;
    color: rgba(93,103,109,.9)
}

.popularize-content .popularize-content-title {
    color: #1aa79a;
    font-size: 16px;
    font-weight: 700
}

.popularize-content .popularize-content-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 12px;
    color: rgba(93,103,109,.9)
}

.popularize-actions {
    text-align: center
}

.popularize-actions>.download {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #1aa79a;
    font-size: 20px
}

.popularize-actions>.download.download-block {
    background-color: #1aa79a;
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0 3px 0 0 rgba(0,0,0,.1)
}

.popularize-app-detail {
    padding: 20px 10px 40px
}

.popularize-app-detail .popularize-header {
    line-height: 40px
}

.popularize-app-detail .popularize-app {
    border-top: 0;
    margin-bottom: 10px
}

.popularize-app-detail .popularize-actions {
    padding: 0 20px
}

.bottom-popularize {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    font-size: 0
}

@media screen and (max-height: 500px) {
    .bottom-popularize {
        position:static
    }
}

.visiable-moblie {
    display: none
}

@media screen and (max-width: 720px) {
    .main .ad-section {
        width:100%
    }
}

@media screen and (max-width: 768px) {
    .combo .main,.main {
        width:100%;
        min-width: 100%
    }

    .data_error form,.error form,.forbidden form,.passwd form {
        margin-bottom: 30px
    }

    .main .app-brief {
        text-align: center
    }

    .main .app-brief button {
        display: inline-block
    }

    .main .app-brief .bg-path,.main .app-brief .qrcode {
        display: none
    }

    .main .icon-container {
        width: 100%;
        height: auto;
        text-align: center
    }

    .main .icon-container .icon {
        position: static;
        display: inline-block
    }

    .main .footer .one-key-report {
        float: none;
        display: block;
        width: 80px;
        margin: 20px auto 0
    }

    .one-key-report-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
        top: 0;
        border-radius: 0;
        padding-top: 30px
    }

    .one-key-report-dialog .content-row .custom-checkbox,.one-key-report-dialog .content-row label {
        margin-right: 10px
    }

    .one-key-report-dialog.animate {
        -webkit-transition: left .5s;
        transition: left .5s
    }

    .one-key-report-dialog .dialog-close {
        left: 10px;
        right: none
    }

    .one-key-report-dialog .dialog-close .icon-close {
        display: none
    }

    .one-key-report-dialog .dialog-close .icon-return {
        display: block
    }

    .one-key-report-dialog .report-form {
        padding-top: 20px
    }

    .one-key-report-dialog .content-row input {
        width: 240px
    }

    .one-key-report-dialog .dialog-action {
        padding-top: 20px;
        text-align: center
    }

    .one-key-report-dialog .dialog-action a.btn-report {
        float: none
    }
}

@media screen and (min-width: 1024px) {
    .main header .app-brief .icon-container:hover .qrcode {
        -webkit-transform:scale(1.6);
        transform: scale(1.6);
        box-shadow: 0 1px 5px rgba(0,0,0,.3)
    }
}
